In [42]:
import pandas as pd

In [48]:
df = pd.read_csv('../output/csv_output/station_airport.csv', names=['origin_id', 'destination_id', 'inner_path_id', 'route_id',
                                                                    'from_id', 'to_id', 'transport_id', 'airport_name'])
df

,origin_id,destination_id,inner_path_id,route_id,from_id,to_id,transport_id,airport_name
0,116,321,0,0,116,-1,2,Charleroi Airport
1,116,321,1,0,116,-1,3,Brussels Airport - Zaventem
2,15,368,0,4,-1,368,2,Zagreb Airport
3,268,84,2,0,268,-1,2,Mihail Kogălniceanu Airport
4,268,84,4,3,207,-1,3,Sabiha Gokcen Airport
...,...,...,...,...,...,...,...,...
376,155,266,2,1,-1,266,2,Lyon Saint Exupéry Airport
377,128,255,8,0,128,-1,2,Brussels Zaventem Airport
378,172,155,1,1,100,-1,2,Lyon Saint Exupéry Airport
379,319,205,2,0,319,-1,2,Salamanca Airport
380,155,297,5,1,-1,297,2,Lyon Saint Exupéry Airport

In [55]:
df.query('transport_id == 1')

,origin_id,destination_id,inner_path_id,route_id,from_id,to_id,transport_id,airport_name
167,317,27,3,1,-1,-1,1,Kota Kinabalu Airport;Lawas Airport
269,27,38,5,1,-1,-1,1,Lawas Airport;Kota Kinabalu Airport
276,33,339,5,2,33,-1,1,Batumi Airport

In [54]:
df['transport_id'].value_counts()

2    317
3     61
1      3
Name: transport_id, dtype: int64

In [66]:
df['airport_name'].value_counts()[:65]

Stuttgart Airport                       20
Stuttgart Airport Bus Terminal SAB      20
Trieste Airport                         16
Lyon Saint Exupéry Airport              13
Girona Airport                          13
                                        ..
Utapao Airport                           2
Beijing Daxing International Airport     2
Corfu Airport                            2
Salamanca Airport                        2
Katowice Airport                         2
Name: airport_name, Length: 65, dtype: int64

In [53]:
df['airport_name'].unique()

array(['Charleroi Airport', 'Brussels Airport - Zaventem',
       'Zagreb Airport', 'Mihail Kogălniceanu Airport',
       'Sabiha Gokcen Airport', 'Gatwick Airport', 'Tirana Airport',
       'Ankara Airport', 'Bishkek Airport', 'Airport', 'Newquay Airport',
       'Stansted Airport', 'Exeter International Airport',
       'Airport Bus Station;Luton Airport Parkway Rail Station',
       'Luton Airport Parkway',
       'Paris - Roissy Charles De Gaulle Airport', 'Euroairport',
       'Suvarnabhumi Airport', 'Utapao Airport', 'Trieste Airport',
       'Luton Airport Parkway Rail Station;Airport Bus Station',
       'Phuket Airport', 'Krabi Airport',
       'Kempegowda International Airport', 'Basel EuroAirport',
       'Katowice Airport', 'Skopje Airport (SKP)', 'FMO Airportpark',
       'Corfu Airport', 'Beijing Daxing International Airport',
       'Dubrovnik Airport Bus Station', 'Gothenburg Landvetter Airport',
       'Dublin Airport T1', 'Pristina Airport',
       'Arlanda Airport Terminal 4 & 5', 'Kansai Airport',
       'Osaka Itami Airport', "Incheon Int'l Airport T1",
       'Trapani Birgi Airport', 'Ostrava Airport',
       'Bucharest Henri Coanda Airport', 'Nakhon Si Thammarat Airport',
       'Surat Thani Airport', 'Kansai Airport Terminal 1',
       'Dublin Airport', 'Paris Beauvais Airport',
       'Baku Heydar Aliyev Airport', 'Osaka Itami Airport North Terminal',
       'Paderborn/Lippstadt Airport', 'Split Airport',
       'Landvetter Airport', 'Girona Airport', 'Dublin Airport T2',
       'Pula Airport', 'Queen Alia Airport',
       'Harry Reid Intl Airport Zero Level',
       'Phoenix Sky Harbor Airport/44th Street Station',
       'Gran Canaria Airport', 'Sharjah Airport Terminal',
       'Granada Airport', 'UP Express Pearson Airport', 'Zadar Airport',
       'Bournemouth Airport', 'Asturias Airport',
       'Lyon Saint Exupéry Airport', 'Shannon Airport stop 355331',
       'OR Tambo Airport', 'Milan Linate Airport',
       'Shannon Airport stop 609581', 'Airport Terminal 1 Station',
       'Athens Airport', 'Stuttgart - Airport',
       'Airport Terminal 2 Station', 'Stuttgart Airport Bus Terminal SAB',
       'Jieyang Airport', 'Basel Euroairport FR',
       'Malmö Airport Sturup flygplats',
       'Suvarnabhumi Airport Arrivals Terminal', 'South Bend Airport',
       'Biarritz - Airport', 'Skopje Airport', 'Bellingham Airport',
       'Hat Yai Airport', 'Bucharest Otopeni Airport', 'Eelde Airport',
       'Mactan–Cebu International Airport',
       'Kota Kinabalu Airport;Lawas Airport',
       'Bucharest Airport Henri Coanda', 'Jeddah Airport',
       'Lehigh Valley International Airport Trans Bridge Bus Stop',
       'Treviso Airport',
       'Ninoy Aquino International Airport Departures Ramp Lungsod ng Pasay Manila;Airport Rd / Domestic Rd Intersection Parañaque City Manila',
       'Prestwick Intl Airport', 'London Luton Airport Bus Station Bay K',
       'Otopeni Airport', 'Munich Airport Terminal 2',
       'Airport Blvd & Regional Parkway;Sonoma Co Airport Terminal',
       'Stuttgart Airport',
       'SFO Airport Terminal 2-Lower Level;SFO Airport Terminal G-Lower Level',
       'Sonoma Co Airport Terminal;Airport Blvd & SMART Station',
       'Bergamo Airport Bus Station', 'Chengdu Shuangliu Airport',
       'Barcelona Airport-Prat T2', 'Kutaisi Airport',
       'Bucharest Henri Coandă Airport', 'Porto Airport',
       'Airport Bus Station', 'Beek Vista Maastricht Airport',
       'Don Mueang Airport Terminal 3', 'Mosnov Ostrava Airport',
       'Lyon - Saint-Exupéry Airport',
       'Marseille - Marseille Provence Airport', 'Paris - Orly Airport',
       'Reno Airport', 'Brussels Zaventem Airport', 'Nantes - Airport',
       'Thira Airport', 'Cheongju Airport;Cheongju Airport Station',
       'Milan Malpensa Airport T1', 'Buffalo Airport',
       'Lawas Airport;Kota Kinabalu Airport', 'Batumi Airport',
       "Incheon Int'l Airport T2", 'Zürich Airport',
       'Barcelona Airport-Prat T1',
       'Barcelona El Prat Airport Arrivals T1',
       'Stuttgart Airport Busterminal',
       'Bwi Thurgood Marshall Airport Station',
       'Stockholm Arlanda Airport Train Station',
       'Rizhao Airport Ticketing Center;Qingdao Liuting airport',
       'Geneva - Airport', 'Barcelona Airport El Prat T1',
       'Katowice Airport Terminal C', 'Albany Int Airport',
       'Stockholm Arlanda Airport Terminal 4', 'Salamanca Airport',
       'Brussels Zaventem Airport Parking P16',
       'Pearson Airport Terminal 3', 'Brussels Airport'], dtype=object)

In [52]:
len(df['airport_name'].unique())

139

In [37]:
df = df.drop_duplicates(subset=['origin_id', 'destination_id', 'from_id', 'to_id', 'transport_id', 'airport_name'])
df

,origin_id,destination_id,inner_path_id,route_id,from_id,to_id,transport_id,airport_name
0,116,321,0,0,116,-1,2,Charleroi Airport
1,116,321,0,4,321,321,2,Seville Airport
2,116,321,1,0,116,-1,3,Brussels Airport - Zaventem
4,116,321,2,0,116,111,3,Schiphol Airport
6,116,321,3,3,172,172,2,Eindhoven Airport Bus Station
...,...,...,...,...,...,...,...,...
365844,12,249,3,3,-1,186,2,Granada Airport
365845,233,292,0,4,215,215,2,Kosice Airport
365846,233,292,1,4,214,214,2,Krakow Airport
365847,260,113,0,6,-1,113,2,Ankara Airport
365848,260,113,1,3,140,-1,2,Euroairport

In [41]:
df_catched = df.query('from_id != -1 and to_id != -1 and from_id != to_id')
df_catched

,origin_id,destination_id,inner_path_id,route_id,from_id,to_id,transport_id,airport_name
4,116,321,2,0,116,111,3,Schiphol Airport
31,286,546,8,0,286,303,2,Rome Ciampino Airport
41,351,38,4,4,41,38,2,Miami Airport
74,190,107,4,0,190,111,3,Schiphol Airport
90,136,259,0,0,136,348,2,Vienna International Airport
...,...,...,...,...,...,...,...,...
365803,169,122,6,4,111,116,3,Schiphol Airport
365822,153,215,3,0,153,123,2,Budapest Airport
365823,153,215,3,1,123,215,2,Budapest Airport
365827,190,58,0,0,190,111,3,Schiphol Airport
365835,172,297,1,0,172,111,3,Schiphol Airport

In [39]:
df_uncatched = df.query('from_id == -1 or to_id == -1')
df_uncatched

,origin_id,destination_id,inner_path_id,route_id,from_id,to_id,transport_id,airport_name
0,116,321,0,0,116,-1,2,Charleroi Airport
2,116,321,1,0,116,-1,3,Brussels Airport - Zaventem
11,15,368,0,4,-1,368,2,Zagreb Airport
19,268,84,2,0,268,-1,2,Mihail Kogălniceanu Airport
21,268,84,4,3,207,-1,3,Sabiha Gokcen Airport
...,...,...,...,...,...,...,...,...
365837,165,303,1,1,-1,-1,3,Stansted Airport
365839,165,303,3,3,225,-1,3,Gatwick Airport
365844,12,249,3,3,-1,186,2,Granada Airport
365847,260,113,0,6,-1,113,2,Ankara Airport
365848,260,113,1,3,140,-1,2,Euroairport